src/pug/pages/pages/amable.pug
extends ../../layout/_header

block append config
    -var pageTitle = 'Amable Conti'
    -var pageDescription = 'Hoja de cálculo formulada en Microsoft Excel 2010 que calcula las depreciaciones de los activos fijos.'
    -var baseDir = '../'
block mainContent
    main.content-wrapper
        +productBanner(
            'solc-product--amable-bg',
            'Amable Conti',
            'Hoja de cálculo elaborada en Microsoft Excel 2010, calcula el ajuste por inflación financiera conforme al método costo histórico, tal como lo establece NIIF-PYME.'
        )(class="col-sm-4")
            block button
                a(href="" class="solc-red-btn") Agregar al carrito

    include ../../layout/_footer
    include ../../layout/_scripts

dist/pages/amable.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Amable Conti</title>
    <meta name="description" content="Hoja de cálculo formulada en Microsoft Excel 2010 que calcula las depreciaciones de los activos fijos.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../img/favicon.png" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../css/main.css" rel="stylesheet">
  </head>
  <body class="portal--amable conti">
    <div class="cd-loader">
      <h5>Cargando...</h5>
      <div class="cd-loader__grid">
        <div class="cd-loader__item"></div>
      </div>
    </div>
    <header class="sol-p-navigation">
      <!-- Primary nav-->
      <nav class="navbar navbar-default">
        <header class="navbar-header">
          <button class="navbar-toggle collapsed hamburger hamburger--collapse" type="button" data-toggle="collapse" data-target="#primary-nav"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button><a class="navbar-brand" href="../index.html"><img src="../img/logo-solcon.png" alt="Soluciones Contables"></a>
        </header>
        <div class="collapse navbar-collapse" id="primary-nav">
          <ul class="nav navbar-nav">
            <li><a href="../index.html" title="Portal">Portal</a>
            </li>
            <li class="js-dropdown"><a class="selected dropdown-toggle" href="" title="Productos" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class="selected" href="amable.html" title="Amable Conti">Amable Conti</a>
                </li>
                <li><a href="contadito.html" title="Contadito">Contadito</a>
                </li>
                <li><a href="creativa.html" title="CreatIVA">CreatIVA</a>
                </li>
                <li><a href="deprecia.html" title="Deprecia Facil">Deprecia Facil</a>
                </li>
                <li><a href="fiscalito.html" title="Fiscalito Jumping">Fiscalito Jumping</a>
                </li>
                <li><a href="histori.html" title="Histori Conti">Histori Conti</a>
                </li>
                <li><a href="mach.html" title="MatchPoint">MatchPoint</a>
                </li>
              </ul>
            </li>
            <li><a href="" title="Talleres">Talleres</a>
            </li>
            <li><a href="login.html" title="Login">Login</a>
            </li>
            <li><a href="" title="Blog">Blog</a>
            </li>
            <li><a href="" title="Contacto" data-toggle="modal" data-target="#contactoModal">Contacto</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="content-wrapper">
      <section class="solc-product--amable-bg solc-product--container container-fluid">
        <article class="container">
          <div class="solc-article-wrapp col-sm-4">
            <h2 class="solc-article--title">Amable Conti</h2>
            <p class="solc-article--text">Hoja de cálculo elaborada en Microsoft Excel 2010, calcula el ajuste por inflación financiera conforme al método costo histórico, tal como lo establece NIIF-PYME.</p><a class="solc-red-btn" href="">Agregar al carrito</a>
          </div>
        </article>
      </section>
    </main>
    <footer class="site-footer">
      <div class="container">
        <div class="footer--networks">
          <h4>Síguenos</h4>
        </div>
        <div class="col-sm-4">
          <h3>Dirección</h3>
          <p>Carrera 18 c/calle 26, <br>CC Atlántico 2 <br>Nivel oficina B-7 <br>Barquisimeto - Venezuela</p>
        </div>
        <div class="col-sm-4">
          <h3>Teléfono</h3>
          <p>0412-303.93.19 <br>0414-527.80.75 <br>0412-303.93.16 <br>0251-935.75.52</p>
        </div>
        <div class="col-sm-4">
          <h3>Email</h3>
          <p>contacto@solucioneslmv.com</p><strong class="db">Suscribete a nuestro boletín</strong>
          <input type="text">
        </div>
      </div>
    </footer>
    <div class="modal fade" id="contactoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <h4>Contenido del modal</h4>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="../js/main-dist.js"></script>
  </body>
</html>
