src/pug/pages/pages/login.pug
extends ../../layout/_header

block append config
    -var pageTitle = 'Login'
    -var pageDescription = 'Ingresa a tu cuneta de Soluciones Contables o crea una nueva.'
    -var baseDir = '../'
block header
    
block mainContent
    main.content-wrapper
        .container.portal-login-form--container
            .portal-login-info.col-sm-4
                .portal-login-info--header
                    img(src=baseDir+"img/logo-solcon-white.png" alt="")
                .portal--login-info--text
                    h2.hidden-xs Bienvenidos
                    p.hidden-xs Con Soluciones contables la gestión contable nunca fue tan facil
                    a(href="registro.html" class="solc-white-btn solc-btn-large hidden-xs dib" title="Registrar") Registrar
                    p.small.hidden-xs si aún estas registrado accede a tu cuenta desde acá
            .portal-login-form.col-sm-8
                a.pull-right.portal-home--link(href=baseDir+"index.html") volver al portal
                .portal-login-form--ing
                    form(action="")
                        .form-group
                            label(for="Dirección de correo") Dirección de correo
                            input.form-control(type="text")
                        .form-group
                            label(for="Contraseña") Contraseña
                            input.form-control(type="password")
                        p.portal-login-form--ing-terms
                            input(type="checkbox" id="ncs")
                            label(for="ncs") <span></span> No cerrar sesión
                            a.pull-right.portal-login-form--link(href="") ¿Olvidaste tu contraseña?
                        div.text-center 
                            input(type="submit" class="solc-red-btn solc-btn-large" value="Ingresar")
                            a.small.db.portal-login-form--link(href="") ¿Aún no tienes cuenta?

    include ../../layout/_scripts

dist/pages/login.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="description" content="Ingresa a tu cuneta de Soluciones Contables o crea una nueva.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../img/favicon.png" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../css/main.css" rel="stylesheet">
  </head>
  <body class="portal--login">
    <div class="cd-loader">
      <h5>Cargando...</h5>
      <div class="cd-loader__grid">
        <div class="cd-loader__item"></div>
      </div>
    </div>
    <main class="content-wrapper">
      <div class="container portal-login-form--container">
        <div class="portal-login-info col-sm-4">
          <div class="portal-login-info--header"><img src="../img/logo-solcon-white.png" alt=""></div>
          <div class="portal--login-info--text">
            <h2 class="hidden-xs">Bienvenidos</h2>
            <p class="hidden-xs">Con Soluciones contables la gestión contable nunca fue tan facil</p><a class="solc-white-btn solc-btn-large hidden-xs dib" href="registro.html" title="Registrar">Registrar</a>
            <p class="small hidden-xs">si aún estas registrado accede a tu cuenta desde acá</p>
          </div>
        </div>
        <div class="portal-login-form col-sm-8"><a class="pull-right portal-home--link" href="../index.html">volver al portal</a>
          <div class="portal-login-form--ing">
            <form action="">
              <div class="form-group">
                <label for="Dirección de correo">Dirección de correo</label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group">
                <label for="Contraseña">Contraseña</label>
                <input class="form-control" type="password">
              </div>
              <p class="portal-login-form--ing-terms">
                <input type="checkbox" id="ncs">
                <label for="ncs"><span></span> No cerrar sesión</label><a class="pull-right portal-login-form--link" href="">¿Olvidaste tu contraseña?</a>
              </p>
              <div class="text-center"> 
                <input class="solc-red-btn solc-btn-large" type="submit" value="Ingresar"><a class="small db portal-login-form--link" href="">¿Aún no tienes cuenta?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="../js/main-dist.js"></script>
  </body>
</html>
