src/pug/pages/pages/registro.pug
extends ../../layout/_header

block append config
    -var pageTitle = 'Registro'
    -var pageDescription = 'Ingresa a tu cuneta de Soluciones Contables o crea una nueva.'
    -var baseDir = '../'
block header
    
block mainContent
    main.content-wrapper
        .container.portal-login-form--container
            .portal-login-info.portal-reg.col-sm-4
                .portal-login-info--header
                    img(src=baseDir+"img/logo-solcon-white.png" alt="")
                .portal--login-info--text
                    h2.hidden-xs Bienvenidos
                    p.hidden-xs Con Soluciones contables la gestión contable nunca fue tan facil
                    a(href="login.html" class="solc-white-btn solc-btn-large hidden-xs dib") iniciar sesión
                    p.small.hidden-xs si estas registrado accede a tu cuenta desde acá
            .portal-login-form.col-sm-8
                a.pull-right.portal-home--link(href=baseDir+"index.html") volver al portal
                .portal-login-form--reg
                    form(action="")
                        .form-group.col-sm-6.portal-login-form--reg__space
                            label(for="Nombre") Nombre
                            input.form-control(type="text")
                        .form-group.col-sm-6
                            label(for="Apellido") Apellido
                            input.form-control(type="text")
                        .form-group.col-sm-6.portal-login-form--reg__space
                            label(for="Dirección de correo") Dirección de correo
                            input.form-control(type="text")
                        .form-group.col-sm-6
                            label(for="Celular") Celular
                            input.form-control(type="text")
                        .form-group.col-sm-6.portal-login-form--reg__space
                            label(for="Contraseña") Contraseña
                            input.form-control(type="text")
                        .form-group.col-sm-6
                            label(for="Confirmar Contraseña") Confirmar Contraseña
                            input.form-control(type="text")
                        p.portal-login-form--reg-terms
                            input(type="checkbox" id="atc")
                            label(for="atc") <span></span> Acepto los términos del servicio.
                        div.text-center
                            input(type="submit" class="solc-primary-btn solc-btn-large" value="Registrar")

    include ../../layout/_scripts

dist/pages/registro.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Registro</title>
    <meta name="description" content="Ingresa a tu cuneta de Soluciones Contables o crea una nueva.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../img/favicon.png" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../css/main.css" rel="stylesheet">
  </head>
  <body class="portal--registro">
    <div class="cd-loader">
      <h5>Cargando...</h5>
      <div class="cd-loader__grid">
        <div class="cd-loader__item"></div>
      </div>
    </div>
    <main class="content-wrapper">
      <div class="container portal-login-form--container">
        <div class="portal-login-info portal-reg col-sm-4">
          <div class="portal-login-info--header"><img src="../img/logo-solcon-white.png" alt=""></div>
          <div class="portal--login-info--text">
            <h2 class="hidden-xs">Bienvenidos</h2>
            <p class="hidden-xs">Con Soluciones contables la gestión contable nunca fue tan facil</p><a class="solc-white-btn solc-btn-large hidden-xs dib" href="login.html">iniciar sesión</a>
            <p class="small hidden-xs">si estas registrado accede a tu cuenta desde acá</p>
          </div>
        </div>
        <div class="portal-login-form col-sm-8"><a class="pull-right portal-home--link" href="../index.html">volver al portal</a>
          <div class="portal-login-form--reg">
            <form action="">
              <div class="form-group col-sm-6 portal-login-form--reg__space">
                <label for="Nombre">Nombre</label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group col-sm-6">
                <label for="Apellido">Apellido</label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group col-sm-6 portal-login-form--reg__space">
                <label for="Dirección de correo">Dirección de correo</label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group col-sm-6">
                <label for="Celular">Celular</label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group col-sm-6 portal-login-form--reg__space">
                <label for="Contraseña">Contraseña</label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group col-sm-6">
                <label for="Confirmar Contraseña">Confirmar Contraseña</label>
                <input class="form-control" type="text">
              </div>
              <p class="portal-login-form--reg-terms">
                <input type="checkbox" id="atc">
                <label for="atc"><span></span> Acepto los términos del servicio.</label>
              </p>
              <div class="text-center">
                <input class="solc-primary-btn solc-btn-large" type="submit" value="Registrar">
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="../js/main-dist.js"></script>
  </body>
</html>
