dist/index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Portal</title>
    <meta name="description" content="Bienvenidos a Soluciones Contables">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="img/favicon.png" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body class="portal--portal">
    <div class="cd-loader">
      <h5>Cargando...</h5>
      <div class="cd-loader__grid">
        <div class="cd-loader__item"></div>
      </div>
    </div>
    <header class="sol-p-navigation">
      <!-- Primary nav-->
      <nav class="navbar navbar-default">
        <header class="navbar-header">
          <button class="navbar-toggle collapsed hamburger hamburger--collapse" type="button" data-toggle="collapse" data-target="#primary-nav"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button><a class="navbar-brand" href="index.html"><img src="img/logo-solcon.png" alt="Soluciones Contables"></a>
        </header>
        <div class="collapse navbar-collapse" id="primary-nav">
          <ul class="nav navbar-nav">
            <li><a class="selected" href="index.html" title="Portal">Portal</a>
            </li>
            <li class="js-dropdown"><a class="selected dropdown-toggle" href="" title="Productos" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="pages/amable.html" title="Amable Conti">Amable Conti</a>
                </li>
                <li><a href="pages/contadito.html" title="Contadito">Contadito</a>
                </li>
                <li><a href="pages/creativa.html" title="CreatIVA">CreatIVA</a>
                </li>
                <li><a href="pages/deprecia.html" title="Deprecia Facil">Deprecia Facil</a>
                </li>
                <li><a href="pages/fiscalito.html" title="Fiscalito Jumping">Fiscalito Jumping</a>
                </li>
                <li><a href="pages/histori.html" title="Histori Conti">Histori Conti</a>
                </li>
                <li><a href="pages/mach.html" title="MatchPoint">MatchPoint</a>
                </li>
              </ul>
            </li>
            <li><a href="" title="Talleres">Talleres</a>
            </li>
            <li><a href="pages/login.html" title="Login">Login</a>
            </li>
            <li><a href="" title="Blog">Blog</a>
            </li>
            <li><a href="" title="Contacto" data-toggle="modal" data-target="#contactoModal">Contacto</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="content-wrapper">
      <section class="slides">
        <div class="carousel slide" id="primary-slides" data-ride="carousel">
          <ol class="carousel-indicators">
            <li class="active" data-target="#primary-slides" data-slide-to="0"></li>
            <li data-target="#primary-slides" data-slide-to="1"></li>
            <li data-target="#primary-slides" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item text-center active"><img src="https://unsplash.it/g/1280/500/?image=121" alt="Nuestros productos son"/>
              <div class="carousel-caption">
                <h2 class="title__display">Nuestros productos son</h2>
                <p>Fáciles de usar ya que esta hecho sobre las aplicacione más populares del mercado.</p>
              </div>
            </div>
            <div class="item text-center"><img src="https://unsplash.it/g/1280/500/?image=563" alt="Nuestros productos son"/>
              <div class="carousel-caption">
                <h2 class="title__display">Nuestros productos son</h2>
                <p>Fáciles de usar ya que esta hecho sobre las aplicacione más populares del mercado.</p>
              </div>
            </div>
            <div class="item text-center"><img src="https://unsplash.it/g/1280/500/?image=1001" alt="Nuestros productos son"/>
              <div class="carousel-caption">
                <h2 class="title__display">Nuestros productos son</h2>
                <p>Fáciles de usar ya que esta hecho sobre las aplicacione más populares del mercado.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="amable-conti"><img class="fl hidden-xs hidden-sm hidden-md amable-conti--img-iz js-rv" src="img/conti-iz.png" alt="Amable Conti"><img class="fr hidden-xs amable-conti--img-dr js-rv" src="img/conti-dr.png" alt="Amable Conti">
        <div class="container">
          <article class="col-sm-7 col-md-6 amable-conti--article">
            <header>
              <p class="article-header--txt">Hemos incursionado en la <strong>plataforma on-line</strong> ahora cuentas con servicios que estarán activos desde cualquier dispositivo que poseas con conexión a internet.</p>
            </header>
            <h2 class="title__regular">Amable conti</h2>
            <p>Hoja de cálculo formulada en Microsoft Excel 2010 que calcula las depreciaciones de los activos fijos.</p>
            <p>Bs. 45.250 Incluye IVA</p><a class="solc-primary-btn" href="amable.html" title="Amable Conti">Leer más</a>
          </article>
        </div>
      </section>
      <section class="program-help"><img class="fr hidden-xs js-rv" src="img/program-help.png" alt="Amable Conti">
        <div class="container">
          <article class="col-sm-7 col-md-6 col-lg-offset-1">
            <h2 class="title__display">Tenemos los productos que te aportarán la ayuda necesaria</h2>
            <p>para tus clientes o tu equipo de trabajo, podrás desarrollarte cada vez más como profesional.</p>
            <h3 class="program-help--subtitle">
              Te mostramos todos los productos que hemos desarrollado a partir de Microsoft Excel 2010.
              
            </h3>
          </article>
        </div>
      </section>
      <section class="creativa"><img class="fl hidden-xs hidden-sm js-rv" src="img/creativa.png" alt="Amable Conti">
        <div class="container">
          <article class="col-sm-7 col-md-6 col-lg-offset-1 creativa--article">
            <h2 class="title__regular">CreatIVA</h2>
            <p>Aplicación en Exel que elabora libro de compras y ventas de IVA para contribuyentes ordinarios y especiales.</p>
            <p>Bs. 71.179 incluye IVA.</p><a class="solc-primary-btn" href="creativa.html" title="CreatIVA">Leer más</a>
          </article>
        </div>
      </section>
      <section class="histori-conti">
        <div class="container">
          <article class="col-sm-7 col-md-6 col-lg-offset-1">
            <h2 class="title__regular">Histori Conti</h2>
            <p>Hoja de cálculo elaborada en Microsoft Excel 2010, formula los estados financieros en cifras nominales (históricas), tal como lo establece NIIF-PYME</p>
            <p>Bs. 58.327 Incluye IVA</p><a class="solc-primary-btn" href="histori.html" title="Histori Conti">Leer más</a>
          </article>
        </div>
      </section>
      <section class="fiscalito"><img class="fl hidden-xs hidden-sm fiscalito--img js-rv" src="img/jump.png" alt="Fiscalito Jumping">
        <div class="container">
          <article class="col-sm-7 col-md-6 col-lg-offset-1">
            <h2 class="title__regular">Fiscalito Jumping</h2>
            <p>Hoja de cálculo formulada en Microsoft Excel 2010 que elabora los cálculos de ajuste por inflación fiscal conforme lo establece la Ley de impuesto.</p>
            <p>Bs. 90.500 Incluye IVA</p><a class="solc-primary-btn" href="fiscalito.html" title="Fiscalito Jumping">Leer más</a>
          </article>
        </div>
      </section>
      <section class="deprecia-facil">
        <div class="container">
          <article class="col-sm-7 col-md-6 col-lg-offset-1">
            <h2 class="title__regular">Deprecia Fácil</h2>
            <p>Hoja de cálculo formulada en Microsoft Exel 2010 que calcula las depreciacionnes de los activos fijos.</p>
            <p>Bs. 42.250 incluye IVA.</p><a class="solc-primary-btn" href="deprecia.html" title="Deprecia Fácil">Leer más</a>
          </article>
        </div>
      </section>
      <section class="mach-point"><img class="fl hidden-xs hidden-sm fiscalito--img js-rv" src="img/mach.jpg" alt="Fiscalito Jumping">
        <div class="container">
          <article class="col-sm-7 col-md-6 col-lg-offset-1">
            <h2 class="title__regular">Mach Point</h2>
            <p>Planificación fiscal (ISLR)</p>
            <p>Bs. 42.250 incluye IVA.</p><a class="solc-primary-btn" href="mach.html" title="Mach Point">Leer más</a>
          </article>
        </div>
      </section>
      <section class="contadito"><img class="fr hidden-xs hidden-sm fiscalito--img js-rv" src="img/contadito-bici.png" alt="Contadito Jireh">
        <div class="container">
          <article class="col-sm-7 col-md-6 col-lg-offset-1">
            <h2 class="title__regular">Contadito Jireh</h2>
            <p>Hoja de cálculo elaborada en Microsoft Excel 2010, calcula el ajuste por inflación financiera conforme al método costo histórico, tal como lo establece NIIF-PYME.</p>
            <p>Bs. 90.500 incluye IVA.</p><a class="solc-primary-btn" href="contadito.html" title="Contadito Jireh">Leer más</a>
          </article>
        </div>
      </section>
    </main>
    <footer class="site-footer">
      <div class="container">
        <div class="footer--networks">
          <h4>Síguenos</h4>
        </div>
        <div class="col-sm-4">
          <h3>Dirección</h3>
          <p>Carrera 18 c/calle 26, <br>CC Atlántico 2 <br>Nivel oficina B-7 <br>Barquisimeto - Venezuela</p>
        </div>
        <div class="col-sm-4">
          <h3>Teléfono</h3>
          <p>0412-303.93.19 <br>0414-527.80.75 <br>0412-303.93.16 <br>0251-935.75.52</p>
        </div>
        <div class="col-sm-4">
          <h3>Email</h3>
          <p>contacto@solucioneslmv.com</p><strong class="db">Suscribete a nuestro boletín</strong>
          <input type="text">
        </div>
      </div>
    </footer>
    <div class="modal fade" id="contactoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <h4>Contenido del modal</h4>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="js/main-dist.js"></script>
  </body>
</html>

src/pug/pages/index.pug
extends ../layout/_header

block append config
    -var pageTitle = 'Portal'
    -var pageDescription = 'Bienvenidos a Soluciones Contables'
    -var linkSrc = 'pages/'
block mainContent
    main.content-wrapper
        include ../layout/_pr-slide

        section.amable-conti
            img(src="img/conti-iz.png" alt="Amable Conti" class="fl hidden-xs hidden-sm hidden-md amable-conti--img-iz js-rv")
            img(src="img/conti-dr.png" alt="Amable Conti" class="fr hidden-xs amable-conti--img-dr js-rv")
            .container
                //- header, title, caption, price
                +article(
                    'Hemos incursionado en la <strong>plataforma on-line</strong> ahora cuentas con servicios que estarán activos desde cualquier dispositivo que poseas con conexión a internet.',
                    'Amable conti',
                    'Hoja de cálculo formulada en Microsoft Excel 2010 que calcula las depreciaciones de los activos fijos.',
                    'Bs. 45.250 Incluye IVA'
                )(class="col-sm-7 col-md-6 amable-conti--article")
                    a(href='amable.html', title='Amable Conti' class="solc-primary-btn") Leer más
        section.program-help
            img(src="img/program-help.png" alt="Amable Conti" class="fr hidden-xs js-rv")
            .container
                article(class="col-sm-7 col-md-6 col-lg-offset-1")
                    h2.title__display.
                        Tenemos los productos que te aportarán la ayuda necesaria
                    p.
                        para tus clientes o tu equipo de trabajo, podrás desarrollarte cada vez más como profesional.
                    h3.program-help--subtitle.
                        Te mostramos todos los productos que hemos desarrollado a partir de Microsoft Excel 2010.

        section.creativa
            img(src="img/creativa.png" alt="Amable Conti" class="fl hidden-xs hidden-sm js-rv")
            .container
                //- header, title, caption, price
                +article(
                    '',
                    'CreatIVA',
                    'Aplicación en Exel que elabora libro de compras y ventas de IVA para contribuyentes ordinarios y especiales.',
                    'Bs. 71.179 incluye IVA.'
                )(class="col-sm-7 col-md-6 col-lg-offset-1 creativa--article")
                    a(href='creativa.html', title='CreatIVA' class="solc-primary-btn") Leer más

        section.histori-conti
            .container
                //- header, title, caption, price
                +article(
                    '',
                    'Histori Conti',
                    'Hoja de cálculo elaborada en Microsoft Excel 2010, formula los estados financieros en cifras nominales (históricas), tal como lo establece NIIF-PYME',
                    'Bs. 58.327 Incluye IVA'
                )(class="col-sm-7 col-md-6 col-lg-offset-1")
                    a(href='histori.html', title='Histori Conti' class="solc-primary-btn") Leer más

        section.fiscalito
            img(src="img/jump.png" alt="Fiscalito Jumping" class="fl hidden-xs hidden-sm fiscalito--img js-rv")
            .container
                //- header, title, caption, price
                +article(
                    '',
                    'Fiscalito Jumping',
                    'Hoja de cálculo formulada en Microsoft Excel 2010 que elabora los cálculos de ajuste por inflación fiscal conforme lo establece la Ley de impuesto.',
                    'Bs. 90.500 Incluye IVA'
                )(class="col-sm-7 col-md-6 col-lg-offset-1")
                    a(href='fiscalito.html', title='Fiscalito Jumping' class="solc-primary-btn") Leer más

        section.deprecia-facil
            .container
                //- header, title, caption, price
                +article(
                    '',
                    'Deprecia Fácil',
                    'Hoja de cálculo formulada en Microsoft Exel 2010 que calcula las depreciacionnes de los activos fijos.',
                    'Bs. 42.250 incluye IVA.'
                )(class="col-sm-7 col-md-6 col-lg-offset-1")
                    a(href='deprecia.html', title='Deprecia Fácil' class="solc-primary-btn") Leer más

        section.mach-point
            img(src="img/mach.jpg" alt="Fiscalito Jumping" class="fl hidden-xs hidden-sm fiscalito--img js-rv")
            .container
                //- header, title, caption, price
                +article(
                    '',
                    'Mach Point',
                    'Planificación fiscal (ISLR)',
                    'Bs. 42.250 incluye IVA.'
                )(class="col-sm-7 col-md-6 col-lg-offset-1")
                    a(href='mach.html', title='Mach Point' class="solc-primary-btn") Leer más

        section.contadito
            img(src="img/contadito-bici.png" alt="Contadito Jireh" class="fr hidden-xs hidden-sm fiscalito--img js-rv")
            .container
                //- header, title, caption, price
                +article(
                    '',
                    'Contadito Jireh',
                    'Hoja de cálculo elaborada en Microsoft Excel 2010, calcula el ajuste por inflación financiera conforme al método costo histórico, tal como lo establece NIIF-PYME.',
                    'Bs. 90.500 incluye IVA.'
                )(class="col-sm-7 col-md-6 col-lg-offset-1")
                    a(href='contadito.html', title='Contadito Jireh' class="solc-primary-btn") Leer más

    include ../layout/_footer
    include ../layout/_scripts
